#nav-wrapper{
  padding:0 !important;
  margin:0 !important;
  position:absolute;
  right:-35px;
  top:63px;
  z-index:1200;
  width:200px;
  background:#EEEEEE;
  font-size:1em;
  font-weight:normal;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  -webkit-font-smoothing:antialiased;
  font-rendering:optimizeLegibility;
}

#nav-wrapper li{
  list-style:none;
  border-top:1px solid #82AD3D;
  z-index:1200;
}

#nav-wrapper li:last-child{
  border-bottom:1px solid #82AD3D;
  border-bottom-left-radius:0.5em;
  border-bottom-right-radius:0.5em;
}

#nav-wrapper li:first-child{
}

#nav-wrapper li a{
  color:#000000;
  text-decoration:none;
  text-align:left;
  z-index:500;
  padding:010px;
  height:100%;
  line-height:2;
  display:block;
}

#nav-wrapper li:first-child a{
}

#nav-wrapper li:last-child a{
  border-bottom-left-radius:0.5em;
  border-bottom-right-radius:0.5em;
}

#nav-wrapper li a:hover, #nav-wrapper li a:focus{
  color:#ffffff;
  background:#82AD3D;
}

.appear{
  display:none;
}

@media (min-width:768px) {
  #nav-wrapper{
    position:absolute;
    left:-1px;
    -webkit-transition:all 0.2s;
    transition:all 0.2s;
  }
}

